* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}
.body .ql-editor {
  min-height: 250px;
}

.success-message {
  padding: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
  transition: ease;
  transition-duration: 700ms;
  visibility: hidden;
}

.success {
  visibility: visible;
  background-color: rgb(57, 243, 57);
}

.failure {
  display: inline;
  background-color: red;
}
